@import "tailwindcss";

@theme {
    --color-primary-green: #082c1b;
    --color-primary-gray: #323f4b;
    --color-secondary-gray: #323f4b;
    --color-primary-dark: #0c0c0c;
    --color-secondary-dark: #333;
    --color-primary-white: #f5f5f5;
    --color-primary-blue: #005f99;
    --color-primary-alert: #ff6b35;
}

body {
    @apply bg-primary-dark text-primary-white;
}

.table {
    @apply w-full;
}

.table thead th {
    text-align: left;
    padding: 12px;
    font-size: 14px;
    font-weight: 200;
    color: var(--color-primary-white);
    border-top: 1px solid var(--color-secondary-dark);
    border-bottom: 1px solid var(--color-secondary-dark);
}

.table tbody td {
    padding: 12px;
    font-weight: 300;
}